:root
{
    /* Colors */
    ---text-color: none;
    ---secondary-text-color: none;
    
    ---bg-color: none;
    ---bg-secondary-color: none;
    
    ---button-primary-text: none;
    ---button-primary-bg-color: none;
    ---button-primary-hover-bg-color: none;
    ---button-primary-active-bg-color: none;
    
    ---anchor-text-color: none;
    ---anchor-clicked-text-color: none;
}


body
{
    /* Light Mode */
    --text-color: #000000;
    --secondary-text-color: #888888;
    
    --bg-color: #FFFFFF;
    --bg-secondary-color: #CCCCCC;
    
    --button-primary-text: var(--text-color);
    --button-primary-bg-color: #DDDDFF;
    --button-primary-hover-bg-color: #AAAADD;
    --button-primary-active-bg-color: #9988DD;
    
    --anchor-text-color: #2222DD;
    --anchor-clicked-text-color: #7722AA;
    
    color: var(--text-color);
    background-color: var(--bg-color);
}

body.dark-mode
{    
    /* Dark Mode */
    --text-color: #FFFFFF;
    --secondary-text-color: #888888;

    --bg-color: #222222;
    --bg-secondary-color: #555555;

    --button-primary-text: var(--text-color);
    --button-primary-bg-color: #443355;
    --button-primary-hover-bg-color: #331144;
    --button-primary-active-bg-color: #330033;

    --anchor-text-color: #5555FF;
    --anchor-clicked-text-color: #7722AA;
}


.primary-text, .primary
{
    color: var(--button-primary-text-color);
}

.primary-bg, .primary
{
    background-color: var(--button-primary-bg-color);
}

button.primary:hover
{
    background-color: var(--button-primary-hover-bg-color);
}

button.primary:active
{
    background-color: var(--button-primary-active-bg-color);
}


.secondary-text, .secondary
{
    color: var(--secondary-text-color);
}

.secondary-bg, .secondary
{
    background-color: var(--bg-secondary-color);
}




#projects::-webkit-scrollbar
{
    height: 16px;
}

#projects::-webkit-scrollbar-track
{
    background: var(--bg-color); 
    border-radius: 10px;
}

#projects::-webkit-scrollbar-thumb
{
    background: var(--bg-secondary-color);
    border-radius: 999999px;
    border: 2px solid var(--bg-color);
}

#projects::-webkit-scrollbar-thumb:hover
{
    background: var(--secondary-text-color);
}

#projects::-webkit-scrollbar-corner
{
    background: var(--secondary-text-color);
}