a:link
{
    color: var(--anchor-text-color);
}

a:visited
{
    color: var(--anchor-clicked-text-color);
}

button
{
    padding: 1vh 2vw;
    border: 1px solid var(--text-color);

    transition: background-color 200ms;
}


img
{
    width: 100%; height: auto;
    object-fit: cover;
}

img.height-img
{
    width: auto; height: 100%;
    object-fit: contain;
}