body
{
    width: 100%;
    max-width: 2560px;
    margin: auto;
}

p
{
    padding: 0px;
    margin: 5px;
}



h1
{
    font-size: 3em;
    font-weight: 500;
}



a
{
    text-decoration: none;
    text-decoration-color: rgba(0, 0, 0, 0);
}



button
{
    padding: 1vh 2vw;
    border: 1px solid var(--text-color);

    transition: background-color 200ms;
}



input[type=text]
{
    border-radius: 5px;   
}



img
{
    width: 100%; height: auto;
    object-fit: cover;
}

img.height-img
{
    width: auto; height: 100%;
    object-fit: contain;
}