nav
{
    background-color: var(--bg-color);
    box-shadow: 0px 5px 5px var(--shadow-color);

    width: 100%;
    height: 100px;

    position: sticky;
    top: 0; left: 0;
    z-index: 10;
    transition: transform calc(var(--animation-time)) ease;
}

#nav-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1vmin 2vw;

    width: 100%;
    height: 100%;
}

.nav-hidden
{
    transform: translateY(-150%);
}

#dark-mode-button
{
    padding: 0.5vw;
    font-size: 0; /* hide any text */

    border-radius: 4px;
}

#dark-mode-button svg
{
    width: 28px;
    height: 28px;
    display: block;
}