:root
{
    --animation-time: 300ms;
    --standard-padding: 2vh 4vw;
}

*
{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body
{
    padding: 0px;
    margin: 0px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.project
{
    width: 400px;
    display: flex;
    flex-direction: column;

    flex: 0 0 auto;

    position: relative;

    border-radius: 15px;
    box-shadow: 0px 5px 10px var(--shadow-color);
    overflow: hidden;
}

.project-img-container
{
    position: relative;
    display: flex;
}

.project-img
{
    height: auto;
    max-height: 400px;
    width: 100%;
}

.project-caption
{
    padding: 10px;

    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: left;

    z-index: 2;
}

.project-title
{
    font-size: 1.5em;
    margin: 5px;
    padding: 0px;
}

.project-text-container
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    flex: 1 1 100%;
    justify-content: space-between;

    margin: 5px;
    padding: 0px;
}

.project-desc
{
    margin: 0px;
    padding: 0px;
}

.project-tools
{
    margin: 0px;
    padding: 0px;

    font-size: 0.8em;
    font-weight: bold;
}