.flex
{
    display: flex;
    flex: 1 1 100%;
}

.flex > *
{
    flex: 1 1 100%;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}

.flex-col
{
    display: flex;
    flex-direction: column;
}

.justify-center, .center
{
    display: flex;
    justify-content: center;
    font-weight:300;
}

.items-center, .center
{
    display: flex;
    align-items: center;
}

.justify-between
{
    display: flex;
    justify-content: space-between;
}

.overlay
{
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}

.hover-overlay, .hover-overlay-reverse
{
    position: absolute;
    display: block;
    /* inset: 0; */
    z-index: 1;
    opacity: 0;

    width: 100%;
    height: 100%;

    transition: opacity var(--animation-time) ease;
}

.hover-overlay:hover
{
    opacity: 1;
}

.hover-overlay:hover
{
    opacity: 1;
}

.hover-overlay-reverse
{
    opacity: 1;
    transition: opacity var(--animation-time) ease;
}

.hover-overlay-reverse:hover
{
    opacity: 0;
}