.flex
{
    display: flex;
    flex: 1 1 100%;
}

.flex > *
{
    flex: 1 1 100%;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}

.flex-col
{
    display: flex;
    flex-direction: column;
}

.justify-center, .center
{
    display: flex;
    justify-content: center;
}

.items-center, .center
{
    display: flex;
    align-items: center;
}

.justify-between
{
    display: flex;
    justify-content: space-between;
}