:root
{
    /* Light mode */
    --light-text-color: #000000;
    --light-secondary-text-color: #222222;

    --light-bg-color: #FFFFFF;
    --light-bg-secondary-color: #EEEEEE;

    --light-button-primary-text: var(--light-text-color);
    --light-button-primary-bg-color: #DDDDFF;
    --light-button-primary-hover-bg-color: #AAAADD;
    --light-button-primary-active-bg-color: #9988DD;

    --light-anchor-text-color: #2222DD;
    --light-anchor-clicked-text-color: #7722AA;
    

    /* Dark mode */
    --dark-text-color: #FFFFFF;
    --dark-secondary-text-color: #888888;

    --dark-bg-color: #222222;
    --dark-bg-secondary-color: #333333;

    --dark-button-primary-text: var(--dark-text-color);
    --dark-button-primary-bg-color: #443355;
    --dark-button-primary-hover-bg-color: #331144;
    --dark-button-primary-active-bg-color: #330033;

    --dark-anchor-text-color: #5555FF;
    --dark-anchor-clicked-text-color: #7722AA;
}

*
{
    box-sizing: border-box;
}

body 
{
    --text-color: var(--light-text-color);
    --secondary-text-color: var(--light-secondary-text-color);

    --bg-color: var(--light-bg-color);
    --secondary-bg-color: var(--light-bg-secondary-color);

    --button-primary-text-color: var(--light-button-primary-text);
    --button-primary-bg-color: var(--light-button-primary-bg-color);
    --button-primary-hover-bg-color: var(--light-button-primary-hover-bg-color);
    --button-primary-active-bg-color: var(--light-button-primary-active-bg-color);

    --anchor-text-color: var(--light-anchor-text-color);
    --anchor-clicked-text-color: var(--light-anchor-clicked-text-color);


    padding: 0px;
    margin: 0px;

    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.dark-mode
{
    --text-color: var(--dark-text-color);
    --secondary-text-color: var(--dark-secondary-text-color);

    --bg-color: var(--dark-bg-color);
    --secondary-bg-color: var(--dark-bg-secondary-color);

    --button-primary-text-color: var(--dark-button-primary-text);
    --button-primary-bg-color: var(--dark-button-primary-bg-color);
    --button-primary-hover-bg-color: var(--dark-button-primary-hover-bg-color);
    --button-primary-active-bg-color: var(--dark-button-primary-active-bg-color);
    
    --anchor-text-color: var(--dark-anchor-text-color);
    --anchor-clicked-text-color: var(--dark-anchor-clicked-text-color);
}

body>*
{
    padding: 2vh 4vw;
}



nav
{
    background-color: var(--secondary-bg-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

    position: sticky;
    top: 0; left: 0;
}

header
{
    margin: 60px 0px;
}



button
{
    padding: 1vh 2vw;
    border: 1px solid var(--text-color);

    transition: color 200ms;
}

a:link
{
    color: var(--anchor-text-color);
}

a:visited
{
    color: var(--anchor-clicked-text-color);
}



div.links
{
    display: flex;
    flex-direction: column;
}



#nav-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-content>*
{
    text-align: center;
}



button.primary
{
    color: var(--button-primary-text-color);
    background-color: var(--button-primary-bg-color);
}

button.primary:hover
{
    background-color: var(--button-primary-hover-bg-color);
}

button.primary:active
{
    background-color: var(--button-primary-active-bg-color);
}

.secondary, .secondary-text
{
    color: var(--secondary-text-color);
}

.secondary, .secondary-bg
{
    background-color: var(--secondary-bg-color);
}