body 
{
    /* MY VARS */
    --banner-height: 60vh;
}

main, footer
{
    padding: 4vw 0px;
    position: relative;
    z-index: 2;
}

section
{
    padding: 25px 4vw;
}

header
{
    margin: 0px;
    padding: 0px;

    /* Banner sizing */
    height: var(--banner-height);
    width: 100vw;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

main
{
    position: relative;
    background-color: var(--bg-color);
}

#banner-header
{
    width: 100vw;
    height: var(--banner-height);
    object-fit: cover;

    position: relative;
    z-index: 0;

    background-color: #891ec3;
}



@keyframes title-scroll
{
    from { transform: translateY(0); }
    to { transform: translateY(-100vh); }
}

#banner-title-header
{
    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    inset: 0;
    z-index: 2;

    color: #FFFFFF;
    font-weight: 600;
    font-size: clamp(1.5em, 5vw, 4em);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);

    animation: title-scroll linear both;
    animation-timeline: scroll(root); 
    animation-range: 0px 100vh;
}

#banner-subtitle-header
{
    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    inset: 0;
    z-index: 2;

    color: #FFFFFF;
    font-weight: 200;
    font-size: clamp(0.8em, 1.5vw, 3em);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);

    top: calc(50px + 4vw);

    animation: title-scroll linear both;
    animation-timeline: scroll(root); 
    animation-range: 0px 100vh;
}

#headshot-aboutme
{
    width: 30vw;
    max-width: 400px;
    height: auto;
    
    border-radius: 10%; 
    overflow: hidden;
    object-fit: cover;
}



#project-container
{
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;
    overflow-x: scroll;

    padding: 20px 4vw;
    gap: 20px;
}

#project-container::-webkit-scrollbar-track
{
    margin: 0 4vw; 
}



.music
{
    padding: 1vmax;

    border-radius: 10px;
    box-shadow: 0px 5px 5px var(--shadow-color);

    max-width: 60vw;
}