#results
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding: 20px 4vw;
    gap: 20px;
}



#filter-section
{
    padding: 2vh 2vw;
    width: 30vw;
}

.filter-tag
{
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    user-select: none;

    border: 1px solid rgba(0, 0, 0, 0);
    transition: all var(--fast-animation-time) ease;
}

.filter-tag:hover
{
    border-color: var(--text-color)
}

.filter-tag:has(input:checked)
{
    background-color: var(--primary-highlight-color);
}



#project-search
{
    border: 2px solid var(--bg-secondary-color);
    background: var(--bg-color);
    color: var(--text-color);
    outline: none;

    width: 100%;
}

#project-search:focus
{
    border-color: var(--heading-color);
}



.query
{
    display: flex;
    flex-direction: column;

    position: relative;
}

#category-filters
{
    display: flex;
    flex-direction: column;
}